:root {
  --color-error: #ff5959;
  --color-input-label: #716f6f;
  --color-input-border: #dcdcdc;
  --color-input-focus: #854dff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-family: "Poppins", sans-serif;
}

html,
body,
main {
  height: 100%;
}

.app-container {
  max-width: 34.3rem;
  padding: 4.8rem 2.4rem;
  border-radius: 2.4rem 2.4rem 10rem 2.4rem;
  background: #fff;
  margin: 8.8rem auto 0;
}

.form__labels {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 6.35rem;
}
.form__label {
  color: #716f6f;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  max-width: initial;
}
.form__input {
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #dcdcdc;
  max-width: 8.766rem;
  margin-top: 0.4rem;
  color: #151515;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
}
.form__input::-moz-placeholder {
  color: rgba(21, 21, 21, 0.5);
}
.form__input::placeholder {
  color: rgba(21, 21, 21, 0.5);
}
.form__input:focus {
  outline: none;
}
.form__input:-webkit-autofill {
  background-color: transparent;
  box-shadow: 0 0 0 5rem #fff inset;
}
.form__error {
  color: #ff5959;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: initial;
  text-transform: initial;
  font-weight: initial;
  display: inline-block;
  margin-top: 0.4rem;
}
.form__line-btn-container {
  height: 0.1rem;
  margin-bottom: 6.35rem;
}
.form__line {
  border: 0.1rem solid #dcdcdc;
}
.form__btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 21.6rem;
  background: #854dff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.calculation {
  font-size: 5.4rem;
  font-style: italic;
  font-weight: 800;
  line-height: 6.16rem;
  letter-spacing: -0.112rem;
}
.calculation__container {
  display: flex;
  gap: 0.8rem;
}
.calculation__number {
  color: #854dff;
}
.calculation__unit {
  color: #151515;
}

@media only screen and (max-width: 23.4375em) {
  .app-container {
    padding: 4.8rem 6.4%;
  }
  .form__label {
    max-width: 29.4%;
  }
  .form__input {
    font-size: 1.6rem;
    max-width: 100%;
  }
  .calculation {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 48em) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-container {
    max-width: 59.15rem;
    padding: 5.2rem;
    margin: 0;
  }
  .form__labels {
    gap: 2.4rem;
  }
  .form__label {
    font-size: 1.3rem;
    letter-spacing: 0.325rem;
    max-width: 12.35rem;
  }
  .form__input {
    max-width: 100%;
    margin-top: 0.6rem;
    font-size: 2.6rem;
    letter-spacing: 0.026rem;
  }
  .form__error {
    font-size: 1.3rem;
    margin-top: 0.6rem;
  }
  .calculation {
    font-size: 7.9rem;
    line-height: 8.8rem;
    letter-spacing: -0.16rem;
  }
}
@media only screen and (min-width: 62em) {
  .form__btn:hover {
    cursor: pointer;
    background: #151515;
  }
}
@media only screen and (min-width: 90em) {
  .app-container {
    max-width: 84rem;
    width: 84rem;
    padding: 5.6rem;
  }
  .form__labels {
    gap: 3.2rem;
    margin-bottom: 4.75rem;
  }
  .form__label {
    font-size: 1.4rem;
    letter-spacing: 0.35rem;
    max-width: 16rem;
  }
  .form__input {
    margin-top: 0.8rem;
    font-size: 3.2rem;
    letter-spacing: 0.032rem;
  }
  .form__error {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
  .form__line-btn-container {
    width: 63.2rem;
    margin-bottom: 4.75rem;
  }
  .form__btn {
    left: 100%;
    transform: translate(0, -50%);
    width: 9.6rem;
    height: 9.6rem;
  }
  .form__btn-icon {
    width: 4.4rem;
    height: 4.4rem;
  }
  .calculation {
    font-size: 10.4rem;
    line-height: 11.44rem;
    letter-spacing: -0.208rem;
  }
}
.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */