// ********* MOBILE LAYOUTS *********

// ********** 375px LAYOUT **********
.app-container {
  max-width: 34.3rem;
  padding: 4.8rem 2.4rem;
  border-radius: 2.4rem 2.4rem 10rem 2.4rem;
  background: $color-app-background;
  margin: 8.8rem auto 0;
}

// ************** FORM **************
.form {
  &__labels {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 6.35rem;
  }

  &__label {
    color: $color-input-label;
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    max-width: initial;
  }

  &__input {
    padding: 1.2rem 1.6rem;
    border-radius: 0.8rem;
    border: 0.1rem solid $color-input-border;
    max-width: 8.766rem;
    margin-top: 0.4rem;
    color: $color-input-text;
    font-family: inherit;
    font-size: 2rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.02rem;

    &::placeholder {
      color: $color-placeholder;
    }

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      background-color: transparent;
      box-shadow: 0 0 0 5rem $color-app-background inset;
    }
  }

  &__error {
    color: $color-error;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: initial;
    text-transform: initial;
    font-weight: initial;
    display: inline-block;
    margin-top: 0.4rem;
  }

  &__line-btn-container {
    height: 0.1rem;
    margin-bottom: 6.35rem;
  }

  &__line {
    border: 0.1rem solid $color-horizontal-line;
  }

  &__btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 21.6rem;
    background: $color-button-background;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
}

// ********** CALCULATION ***********
.calculation {
  font-size: 5.4rem;
  font-style: italic;
  font-weight: $font-weight-extraBold;
  line-height: 6.16rem;
  letter-spacing: -0.112rem;

  &__container {
    display: flex;
    gap: 0.8rem;
  }

  &__number {
    color: $color-calculation-number;
  }

  &__unit {
    color: $color-calculation-unit;
  }
}

// *** 320px - 374px MEDIA QUERY ****
@media only screen and (max-width: 23.4375em) {
  .app-container {
    padding: 4.8rem 6.4%;
  }

  // ************* FORM *************
  .form {
    &__label {
      max-width: 29.4%;
    }

    &__input {
      font-size: 1.6rem;
      max-width: 100%;
    }
  }

  // ********* CALCULATION *********
  .calculation {
    font-size: 5rem;
  }
}
